$hover-bg:#E8EFCF;
@include media-breakpoint-up(xl) {
    .bg-green--hover{
        &:hover,&:active,&:focus{
            background-color: $hover-bg !important;
        }
    }
    .outline--hover{
        &:hover,&:active,&:focus{
            outline: solid 5px $hover-bg;
            
        }
    }
}